/* public/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #FFDFB9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1,h2{
    color: #A4193D;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #A4193D; /* Use #FFDFB9 for all labels */
  }
  button[type="submit"] {
    background-color: #A4193D;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #8f1437;
  }
  